html
  head
    title  Lab4 
    link(rel='stylesheet' type='text/css' href='normalize.css')
    link(rel='stylesheet' type='text/css' href='style.css')
  body
    .container
      .header
        h1 Личная страница (блог) Захаровой Полины Дмитриевны
      .sidebar
        p
          a(href='rozklad.html') Расписание
        p
          a(href='photo.html') Фото
        p
          a(href='news.html') Новости
      .content
        h2 Моя биография
        br
        p
          big
            q
              | Я люблю всех животных. Однако кошек предпочитаю больше, ведь у них есть характер.
            cite  Ирэн Огински
            br
            |    Родилась в 2001 году в городе Запорожье. Окончила 34 лицей, принимала участие и занимала призовые места по олимпиадам по многим предметам. Сейчас учусь в ЗНУ на математическом факультете.
            br
        h2 Мои увлечения
        big
          | В детстве я занималась рисованием. Сейчас я пишу рассказы, а недавно начала лепить из глины. 
          br
          img(src='https://cdn1.savepice.ru/uploads/2020/11/13/af902a5eed2b282ade6428d42d9d0758-full.png' alt='Loading...')
          br
          |    Пример работы, еще не покрытой глазурью
        p
      .footer
        p 2020 Лабораторная работа 2