body {
    font: 13pt Arial, Helvetica, sans-serif; /* Øðèôò òåñòà */
    background: #002794; /* Öâåò ôîíà */
   }
   h1 {
    font-size: 30px; /* Ðàçìåð øðèôòà â çàãîëîâêå 1*/
    color: #fff; /* Öâåò çàãîëîâêà */
    margin-top: 0; /* Îòñòóï ñâåðõó */
   }
   h2 {
    font-size: 30px; /* Ðàçìåð øðèôòà â çàãîëîâêå 2*/
    margin-top: 0; /* Îòñòóï ñâåðõó */
    text-align: center; /* Âûðàâíèâàíèå òåêñò øàïêè ïî öåíòðó */
   }
   a {
    font-size: 20px; /* Ðàçìåð øðèôòà â ññûëêå */
    margin-top: 0; /* Îòñòóï ñâåðõó */
    color: #000000; /* Öâåò òåêñòà */
   }
   table {
    border-collapse: collapse;
    border: 2px solid black;
    background: #ffff;
   }
   th, td {border: 1px solid black;}
   .container {
    width: 1800px; /* Øèðèíà ñëîÿ */
    margin: 0 auto; /* Âûðàâíèâíèòü âåñü áëîê ïî öåíòðó */
    background: #009999; /* Öâåò ôîíà ëåâîé êîëîíêè */
   }
   .header {
    font-size: 30px; /* Ðàçìåð òåêñòà â øàïêå */
    text-align: center; /* Âûðàâíèâàíèå òåêñò øàïêè ïî öåíòðó */
    padding: 5px; /* Îòñòóïû âíóòðè áëîêà øàïêè */
    background: #006363; /* Öâåò ôîíà øàïêè */
    color: #fff; /* Öâåò òåêñòà */
   }
   .sidebar {
    margin-top: 10px;
    width: 300px; /* Øèðèíà áëîêà */
    padding: 0 10px; /* Îòñòóïû âíóòðè ëåâîãî áëîêà */
    float: left; /* Îáòåêàíèå áëîêà ïî ïðàâîìó êðàþ */
    color: #fff; /* Öâåò òåêñòà */
   }
   .content {
    margin-left: 300px; /* Îòñòóï ñëåâà */
    padding: 10px; /* Îòñòóïû âíóòðè ïðàâîãî áëîêà */
    background: linear-gradient(180deg, #33CCCC, #fff); /* Öâåò ôîíà ïðàâîãî áëîêà */
   }
   .footer {
    background: #006363; /* Öâåò ôîíà íèæíåãî áëîêà-ïîäâàëà */
    color: #fff; /* Öâåò òåêñòà ïîäâàëà */
    padding: 5px; /* Îòñòóïû âíóòðè áëîêà */
    clear: left; /* Îòìåíÿåì äåéñòâèå float */
   }